<mat-card *ngIf="product$ | async as product; else loading">
    <mat-card-header>
        <mat-card-title>Edit product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput required [(ngModel)]="product.productName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cost</mat-label>
                <input matInput [(ngModel)]="product.cost">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Amount Available</mat-label>
                <input matInput [(ngModel)]="product.amountAvailable">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" (click)="save(product)">Save</button>
                <button mat-raised-button (click)="cancel()">Cancel</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<ng-template #loading>Loading User Data...</ng-template>